/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  background-color: #f9f9f9;
}

.fontMontserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.fontDancingScript {
  font-family: 'Dancing Script', cursive;
}

.fontOpenSans {
  font-family: 'Open Sans', sans-serif;
}

.boxShadow {
  -webkit-box-shadow: 0px 1px 15px -7px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 1px 15px -7px rgba(0, 0, 0, 0.56);
}

.pageLayout {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  margin: 0.6rem 2rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.userMenu {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  color: #3a4b5c;
}

.profilePicture {
  width: 5rem;
  height: auto;
  border-radius: 50%;
}

.goalsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.goalsTitle {
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
}

.checkboxContainer {
  display: flex;
  padding: 0.2rem;
  gap: 0.2rem;
}

.icons {
  width: 12%;
}

.plusIcon {
  display: flex;
  align-items: end;
}

.goalsList {
  font-size: 0.8rem;
  color: #3a4b5c;
}

.clock {
  width: 10%;
  height: auto;
}

ol {
  list-style-type: none;
  padding: 0;
}

.calendarContainer {
  display: grid;
  grid-template-columns: repeat(3, 12rem);
  gap: 1rem;
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;

  width: fit-content;
  padding: 1rem 1rem 0rem;
}

.monthName {
  text-decoration: none;

  font-size: 0.8rem;

  color: #3a4b5c;
}

.gridWeek {
  display: grid;
  grid-template-columns: repeat(7, 1rem);
  gap: 0.11rem;

  font-size: 0.5rem;
  color: #3a4b5c;
}

.gridDays a {
  text-decoration: none;

  display: grid;
  grid-template-columns: repeat(7, 1rem);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.11rem;

  font-size: 0.6rem;
  color: #fca68a;
}
