/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  background-color: #f9f9f9;
}

.profilePicture {
  width: 9%;
  height: auto;
  border-radius: 50%;
}

ol {
  list-style-type: none;
}

.calendarContainer {
  display: grid;
  grid-template-columns: repeat(3, 12rem);
  gap: 1rem;
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.monthName {
  text-decoration: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #3a4b5c;
}

.gridWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.6rem;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  color: #3a4b5c;
}

.gridDays a {
  text-decoration: none;

  display: grid;
  grid-template-columns: repeat(7, 1rem);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.11rem;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.6rem;
  color: #fca68a;
}
